@using System.Web.Optimization
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Blog</title>
    @Styles.Render("~/styles")
  
</head>
<body id="PageBody" runat="server">
    <header>
        <h1 class="display-4">
            <a href="@Url.RouteUrl("Home")">SimpleBlog</a>
        </h1>
        @if (User.Identity.IsAuthenticated)
        {
        <p>Welcome Back @User.Identity.Name</p>
        <a href="@Url.RouteUrl("logout")">Logout</a>

            if (User.IsInRole("admin"))
            {
              
               <a href="@Url.Action("Index","Posts",new {area="admin"})">View Posts in admin</a>
            }
        }
        else
        {
        <a href="@Url.RouteUrl("login")">Login</a>
        }
    </header>
    

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DCD</p>
        </footer>
    </div>

   
</body>
</html>